{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{% block title %}{% endblock %}{{ site_settings.site_title }}</title>

    {% block core_css %}
        <link href="{% static 'dist/css/vendors.css' %}" rel="stylesheet">
        <link href="{% static 'dist/css/main.css' %}" rel="stylesheet">
    {% endblock %}

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/respond.js/1.4.2/respond.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.3/html5shiv.min.js"></script>
    <![endif]-->

    {% block inline_css %}{% endblock %}
</head>
<body>
{% block body %}
    <div id="id_wrapper">
        {% block wrapper %}
            <div class="content">
                {% block content %}{% endblock %}
            </div>
        {% endblock %}
    </div>
{% endblock %}

{% block core_js %}
<script src="{% static 'dist/js/vendors.js' %}"></script>
<script src="{% static 'dist/js/main.js' %}"></script>
{% endblock %}
{% block inline_js %}{% endblock %}
</body>
</html>